<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/styles/bootstrap.min.css' %}">
    <script defer src="{% static 'bootstrap/scripts/bootstrap.bundle.min.js' %}"></script>

    <title>
        ASZ Aalst: Inflammatoire Darmziekten
    </title>
</head>

<body>
    <p>Dit is een test paragraaf</p>

    <button type="button" class="btn btn-primary">Dit is een bootstrap button</button>
</body>
</html>
